:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--green: #10b981;
	--red: #B43347;
	--crimson: rgb(220, 20, 60);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
	font-size: 1.25rem;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;

}

header h1 {
	font-size: 2.5rem;
	font-weight: 900;
	font-family: Maku, sans-serif;
	margin-bottom: 1rem;
	color: var(--light);
}

#new-task-form {
	display: flex;
	;
}

input,
button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
	border: 2px solid var(--pink);
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--green);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--light);
	margin-bottom: 1rem;
	font-family: Maku, sans-serif;

}

.tasks_todo {
	padding: 1rem;
	margin-top: 1rem;
}

.tasks_work {
	padding: 1rem;
	margin-top: 1rem;
}

.tasks_done {
	padding: 1rem;
	margin-top: 1rem;
}

.status_todo {
	padding: 1rem;
	margin-top: 1rem;
}

#status_todo .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	/* border: 2px solid var(--pink);*/
}

.status_work {
	padding: 1rem;
	margin-top: 1rem;
}

#status_work .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	/* border: 2px solid var(--pink);*/
}

.status_done {
	padding: 1rem;
	margin-top: 1rem;
}


#status_done .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	/* border: 2px solid var(--pink);*/
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--green);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	background-image: linear-gradient(to right, var(--crimson), var(--red));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* Working on section */

.doing-task-list {
	padding: 1rem;
}

.doing-task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

.done-task {
	padding: 1rem;
}

.done-task h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

.top-header {
	padding-top: 2rem;
	padding-left: 2rem;
}

.date {
	font-size: 1rem;
	postion: absolute;
	left: 0;
	padding-left: 2.9rem;
}


.top-header {
	display: flex;
	text-align: center;
}

.icon {
	margin-top: 14px;
	font-family: Mukta, sans-serif;
}